[submodule "octoon-math"]
	path = octoon-math
	url = https://github.com/octoon/math.git
[submodule "octoon-models"]
	path = octoon-models
	url = https://github.com/octoon/models.git
[submodule "octoon-scene"]
	path = octoon-scene
	url = https://github.com/octoon/scene.git
[submodule "octoon-animation"]
	path = octoon-animation
	url = https://github.com/octoon/animation.git
